* {
  box-sizing: border-box;
  text-decoration: none !important;
}


.category__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #FEEABC;
  &__header {
    text-align: center;
  }
  &__main {
    margin: 0 120px;
    width: 700px;
    &__block {
      padding: 16px;
      margin-bottom: 16px;
      height: 165px;
      width: 700px;
      background-color: #EFEFEF;
      position: relative;
      border: 1px solid #e9e7e1;
      border-radius: 3px;
      margin-top: 20px;
      &:hover {
        opacity: .8;
        transition: .3s;
      }
      &__left img {
        width: 100px;
        height: 130px;
        display: flex;
        align-items: center;
      }
      &__right {
        position: absolute;
        top: 15px;
        left: 140px;
        color: black;
        &__title {
          font-size: 20px;
          font-weight: bold;
        }
        &__count {
          margin: 20px 0;
          opacity: 0.8;
        }
        &__rate {
          opacity: .8;
          & img {
            width: 20px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}