

// スライド
.slick {
  height: 150px;
  width: 100%;
  background-color: gray;
}


// レビュー
.main {
  display: flex;
  justify-content: space-around;
.main__left {
  border: 1px solid gray;
  width: 800px;
.image1 {
  float: left;
  height: 140px;
  width: 100px;
  background-color: gray;
}
.main-review__text {
  font-size: 15px;
  opacity: 0.8;
}
}

.main__right {
  &__box {
    border: 1px solid gray;
    &__list__rank {
      display: flex;
    }
  }
}
&__right__genre {
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  &__text {
    opacity: 0.8;
  }
  &__category {
    .battle {
      border: 1px solid gray;
      padding: 5px 25px;
      text-decoration: none;
      color: rgb(171, 207, 171);
      margin: 20px;
      display: inline-block;
    }
    .love {
      border: 1px solid gray;
      padding: 5px 30px ;
      text-decoration: none;
      color: #F23838;
      margin: 20px;
      display: inline-block;

    }
    .school {
      border: 1px solid gray;
      padding: 5px 33px;
      text-decoration: none;
      color: #6D91A9;
      margin: 20px;
      display: inline-block;

    }
    .sf {
      border: 1px solid gray;
      padding: 5px 37px;
      text-decoration: none;
      color: #FF7D45;
      margin: 20px;
      display: inline-block;

    }
    .robot {
      border: 1px solid gray;
      padding: 5px 17px;
      text-decoration: none;
      color: #FAD008;
      margin: 20px;
      display: inline-block;
      
    }
    .fantasy {
      border: 1px solid gray;
      padding: 5px;
      text-decoration: none;
      color: #6D91A9;
      margin: 20px;
      display: inline-block;
    }
  }
}
}
