// ナビゲーションバー
.navbar {
  li {
  height: 25px;
  width: 90px;
  font-size: 15px;
  list-style: none;
  color: white;
  margin-left: 15px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
    &:hover {
      background-color: #FAD008;
      }
    }
  }

.navbar__right {
  position: absolute;
  top: 7px;
  left: 700px;
  &__menu__name {
    width: 100px;
    height: 25px;
    margin-left: 30px;
    position: relative;
    text-align: center;
    & i {
      margin-bottom: 5px;
      position: absolute;
      top: 2px;
      left: 85px;

    }
    &:hover {
      background-color: black;
      transition: .5s;
    }
  }
  .nav-link__review {
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: white;
    height: 25px;
    width: 130px;
    text-align: center;
    &:hover {
      background-color: black;
      transition: .5s;
    }
  }
  .nav-link__logout {
    transition: 0.5s;
    cursor: pointer;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
  .nav-link__login {
    transition: 0.5s;
    cursor: pointer;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    &:hover {
      opacity: 0.6;
    }
  }
  .nav-link__signup {
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
    color: white;
    &:hover {
      opacity: 0.6;
    }
  }
  #mypage {
    width: 165px;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 1;
    .navbar__right__menu__name {
      &:hover {
        opacity: .8;
      }
      
    }
    #list {
      list-style: none;
      border: 1px solid rgba(0,0,0,.1);
    }
    & ul {
      margin: 0;
      padding: 0;
      & li a {
        width: 100%;
        display: block;
        background-color: #343a40;
        color: #fff;
        border-bottom: 1px solid #ccc;
        text-align: center;
        padding: 9px 0 9px 0;
        &:hover {
          opacity: .9;
          background-color: black;
        }
      }
    }
  }
}